body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

*{        
    -webkit-user-select: none;
    user-select: none;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}   

input[type="text"], textarea, [contenteditable]{

    -webkit-user-select: text;
    user-select: text;
}

.current-location-btn{
    right:0;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 99999;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    box-shadow:4px 4px 4px rgba(170, 170, 170, 0.5);
}

#target-img{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-image: url("../img/target.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.target-icon{
    display: block;
    width: 40px;
    height:40px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.here-block{
    height: 44px;
    padding-bottom: 14px;
}

.text-here-outer{
    float:left;
    width: 60%;
}

.btn-new-outer{
    float:left;
    width: 40%;
    height: 58px;
}

.btn-new{
    background-color: #cc3300;
    color: #fff;
    border-radius: 12px;
    padding: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 58px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.text-here{
    font-size: 16px;
    text-align: center;
    padding: 7px;
}


/*OVERWRITE Leaflet style*/
/*.leaflet-popup-close-button{
    display: none !important;
}

.leaflet-popup-content{
    margin: 0 !important;
    width: 170px !important;
}

.leaflet-popup-content-wrapper{
    padding: 0 !important;
}*/

.icon-size-standart{
    font-size: 40px;
}

.icon-size-small{
    font-size: 30px;
}

.icon-white{
    color:white;
}

.icon-green{
    color:green;
}

.curr-loc-marker{
    color: #ef6a5f;
}